:root {
    --gray-light: #F3F3F3;
    --gray-dark: #3E454B;
    --orange: #FF9B00;
    --white: #FFFFFF;
  }
  
  .main {
    width: 100%;
    height: calc(100vh - 74px);
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
    padding: 1rem;
  }
  
  .main .pane {
    display: grid;
    grid-auto-rows: min-content;
    gap: 2rem;
    background: var(--gray-light);
    padding: 1.5rem;
  }
  
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 3rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  
  .nav button {
    background: var(--orange);
    padding: 0.5rem 1rem;
    font-weight: 700;
    color: var(--white);
  }
  